
@model _2Blogs.Models.BlogViewModels.BlogViewModel
@{
    // ViewData["Title"] = "BlogList";

}
<!doctype html>
<html lang="en">
<body>
    <div class="container my-5">
        <div class="card-deck">
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-md-6">
                    <div class="card mycard-height mb-4 ">
                        <div class="view overlay flex-auto">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="">
                            <a asp-controller="Posts" asp-action="PostList" asp-route-id="@blog.Id" asp-route-userid="@blog.User.Id">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body  flex-column">

                            <h3 class="card-title">
                                <a class="text-dark" asp-controller="Posts" asp-action="PostList" asp-route-id="@blog.Id" asp-route-userid="@blog.User.Id">@blog.Title</a>
                            </h3>
                            <p class="card-text">@blog.Description</p>

                            <a asp-action="PostList" asp-controller="Posts" asp-route-id="@blog.Id" asp-route-userid="@blog.User.Id">Continue read</a>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</body>
</html>