@model _2Blogs.Models.PostViewModels.ListPostViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "View";
}

<div class="container">
    <h2 class="text-center">Posts</h2>
    <hr class="my-4">
    @if (Model.UserId == UserManager.GetUserId(User))
    {
        <a class="btn btn-info" asp-action="Create" asp-route-id="@Model.BlogID" asp-route-userid="@Model.UserId">Create new post</a>
        <a class="btn btn-danger" asp-controller="Home" asp-action="DeleateBlog" asp-route-blogid="@Model.BlogID">Delete Blog</a>
    }
    @foreach (var p in Model.Posts)
    {
        <div class="blog-post">
            <h2 class="blog-post-title text-center">
                <a asp-controller = "Posts" asp-action="PostDetail" asp-route-id="@p.Id" >@p.Title</a>
            </h2>
            <p>@p.Description</p>
            @if (Model.UserId == UserManager.GetUserId(User))
            {
                <a class="btn btn-danger" asp-action="DeletePost" asp-route-postid="@p.Id" asp-route-userid="@Model.UserId">Delete Post</a>

            }
        </div>
    <hr class="my-4" />
    }
</div>